{% extends "adworks/base.html" %}
{% load i18n %}
{% block title %}{{ banner }} - {{ block.super }}{% endblock %}

{% block content %}
<script src="{{ STATIC_URL }}/js/swfobject.js" type="text/javascript" charset="utf-8"></script>
<ul class="breadcrumb">
	<li><a href="{{ banner.client.get_absolute_url }}">{{banner.client}}</a> <span class="divider">/</span></li>
	<li><a href="{{ banner.campaign.get_absolute_url }}">{{ banner.campaign }}</a> <span class="divider">/</span></li>
	<li><a href="{{ banner.get_absolute_url }}">{{ banner }}</a> <span class="divider">/</span></li>
	<li>{{ version }}</li>
</ul>

<section>
	<h1 class="page-header">{{ banner }} ({{ version }})</h1>

	<div class="bannercontainer" align="center">
		<p id="bannerfile">{% trans "Please update your flash player." %}</p>
		<p> </p>
		<a href="{{ version.file.url }}" class="btn btn-primary">{% trans "Download file" %}</a>
	</div>
	<script type="text/javascript" charset="utf-8">
		<!--//--><![CDATA[//><!--

	swfobject.embedSWF("{{MEDIA_URL}}{{ version.file }}?clickTAG={{ version.get_absolute_url }}", "bannerfile", "{{ version.banner.dimension.width }}", "{{ version.banner.dimension.height }}", "9.0.0", "expressInstall.swf", {}, {wmode: "opaque"},{});

		//--><!]]>
		</script>
	<div>{{ banner.description|linebreaks|safe }}</div>
</section>
<section>
	<h3>{% trans "Versions" %}</h3>
		{% if banner.version_set.all %}
			<ul>
			{% for item in banner.version_set.all %}
				<li>
					<h4><a href="{{ item.get_absolute_url }}">{{ item }}</a> {% ifequal item version %}({% trans "Gösteriliyor" %}){% endifequal %}</h4>
					<div>{{ item.note|linebreaks|safe }}</div>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>{% trans "No version found for this banner." %}</p>
		{% endif %}
</section>
{% endblock %}
