{% extends "adworks/base.html" %}
{% load i18n %}
{% block title %}{{ campaign.title }} ({{ campaign.client.title }}) - {{ block.super }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li><a href="{{ campaign.client.get_absolute_url }}">{{campaign.client.title}}</a> <span class="divider">/</span></li> 
	<li>{{ campaign.title }}</li>
</ul>
<section class="main section">
	<h1 class="page-header">{{ campaign.title }}</h1>
	<div>{{ campaign.summary|linebreaks|safe }}</div>
	{% if campaign.attachment %}
	<p><a href="{{MEDIA_URL}}/{{ campaign.attachment }}">{% trans "Download file" %}</a></p>	
	{% endif %}	
</section>
<section>
	<h3>{% trans "Banners" %}</h3>
	{% if campaign.banner_set.all %}
	<ul>
	{% for item in campaign.banner_set.all %}
		<li>
			<h4><a href="{{item.get_absolute_url}}">{{ item }}</a></h4>
			<div>{{ item.description|linebreaks|safe }}</div>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<p>{% trans "No banner found for this campaign." %}</p>
	{% endif %}	
</section>
{% endblock %}
