{% extends "adworks/base.html" %}
{% block title %}{{ campaign.title }} ({{ campaign.client.title }}) - {{ block.super }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li><a href="{% url client_detail campaign.client.slug campaign.client.token %}">{{campaign.client.title}}</a> <span class="divider">></span></li> 
	<li>{{ campaign.title }}</li>
</ul>
<div class="main section">
	<h2>{{ campaign.title }}</h2>
	<p>{{ campaign.summary }}</p>
	{% if campaign.mediaplan %}
	<p><a href="{{MEDIA_URL}}/{{ campaign.mediaplan }}">{% trans "Download media plan" %}</a></p>	
	{% endif %}	
</div>
<div class="side section">
	<h3>{% trans "Banners" %}</h3>
	{% if banners %}
	<ul>
	{% for item in banners %}
		<li>
			<h4><a href="{{item.get_absolute_url}}">{{ item }}</a></h4>
			<p>{{ item.description }}</p>
		</li>
	{% endfor %}
	</ul>
	{% else %}
	<p>{% trans "Bu kampanya için kayıtlı banner bulunmuyor." %}</p>
	{% endif %}	
</div>
{% endblock %}
