{% extends "adworks/base.html" %}
{% load i18n %}
{% block title %}{{ client.title }} - {{ block.super }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
	<li>{{ client.title }}</li>
</ul>
<section>
	{% if client.logo %}
	<div class="left">
		<img src="{{ MEDIA_URL }}/{{ client.logo }}" width="96" border="0" alt="{{ client.title }}" />
	</div>
	{% endif %}
	<h1 class="page-header">{{ client.title }}</h1>
	<div>{{ client.about|linebreaks|safe }}</div>	
	<p><a href="{{ client.website }}">{{ client.website }}</a></p>
</section>
<section>
	<h3>{% trans "Campaigns" %}</h3>
	{% if client.campaign_set.all %}
		<ul>
		{% for item in client.campaign_set.all %}
	   		<li>
				<h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a> ({{ item.banner_set.count }} banner)</h4>
				<div>{{ item.summary|linebreaks|safe }}</div>
			</li>
		{% endfor %}		
		</ul>
	{% else %}
		<p>{% trans "No campaign found for this client." %}</p>
	{% endif %}	
</section>	
{% endblock %}
